<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Details</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/projects.css">
    <link rel="stylesheet" href="./css/teams.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <div class="container">
        <div class="sidebar">
            <h2>TEAM MANAGEMENT</h2>
            <ul>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="teams.html">Teams</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="manage-users.html">Manage Users</a></li>
            </ul>
        </div>

        <div class="main-content">
            <div class="header">
                <div class="notification">
                    <i class="fas fa-bell"></i>
                    <span class="notification-count">3</span>
                </div>
                <button id="logout" class="logout-btn">LOGOUT</button>
            </div>

            <div class="header2">
                <h1 id="team-name">Team Name</h1>
                <p id="team-description">Team Description</p>
            </div>

            <div class="teamsProjectsContainer">
                <div class="teamMembersSection">
                    <h4>Team Members</h4>
                    <div id="team-members">
                        <!-- Team members will be populated here -->
                    </div>
                </div>

                <div id="projects-list-container">
                    <h4> All Projects</h4>
                    <div id="projects-list"></div>
                    <!-- Projects will be populated here -->
                    </div>
                </div>
                <div class="otherActions">
                    <button id="leave-team-btn" type="button">Leave Team</button>
                </div>
            </div>

            <!-- <div >
                <h4>All Projects</h4>
                <div id="projects-list"></div>
            </div> -->

            <!-- <h3>Projects</h3>
            <ul id="projects-list"></ul> -->
            
        </div>
        
    </div>


    <script src="./js/backend/team-details.js"></script>
</body>

</html>